<!-- Validation failure messages -->

<% if @gym.errors.any? %>
  <% @gym.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Gym #<%= @gym.id %></h3>
      </div>
      <div class="panel-body">
        <%= form_tag gym_url(@gym.id), :method => "patch", :class => "form-horizontal" do %>
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @gym.name %>">
            </div>
          </div>

          <!-- Label and input for address -->
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">
              Address
            </label>
            <div class="col-sm-10">
              <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @gym.address %>">
            </div>
          </div>

          <!-- Label and input for city -->
          <div class="form-group">
            <label for="city" class="col-sm-2 control-label">
              City
            </label>
            <div class="col-sm-10">
              <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @gym.city %>">
            </div>
          </div>

          <!-- Label and input for state -->
          <div class="form-group">
            <label for="state" class="col-sm-2 control-label">
              State
            </label>
            <div class="col-sm-10">
              <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @gym.state %>">
            </div>
          </div>

          <!-- Label and input for zip -->
          <div class="form-group">
            <label for="zip" class="col-sm-2 control-label">
              Zip
            </label>
            <div class="col-sm-10">
              <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @gym.zip %>">
            </div>
          </div>

          <!-- Label and input for phone -->
          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">
              Phone
            </label>
            <div class="col-sm-10">
              <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" value="<%= @gym.phone %>">
            </div>
          </div>

          <!-- Label and input for website -->
          <div class="form-group">
            <label for="website" class="col-sm-2 control-label">
              Website
            </label>
            <div class="col-sm-10">
              <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="<%= @gym.website %>">
            </div>
          </div>

          <!-- Label and input for email -->
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              Email
            </label>
            <div class="col-sm-10">
              <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @gym.email %>">
            </div>
          </div>

          <!-- Label and input for rate -->
          <div class="form-group">
            <label for="rate" class="col-sm-2 control-label">
              Rate
            </label>
            <div class="col-sm-10">
              <input type="text" id="rate" name="rate" placeholder="Rate" class="form-control" value="<%= @gym.rate %>">
            </div>
          </div>

          <!-- Label and input for image_url -->
          <div class="form-group">
            <label for="image_url" class="col-sm-2 control-label">
              Image url
            </label>
            <div class="col-sm-10">
              <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @gym.image_url %>">
            </div>
          </div>

          <!-- Label and input for weights -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="weights">
                  <input type="checkbox" id="weights" name="weights" value="1" <%= "checked" if @gym.weights %>>
                  Weights
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for cardio -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="cardio">
                  <input type="checkbox" id="cardio" name="cardio" value="1" <%= "checked" if @gym.cardio %>>
                  Cardio
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for studios -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="studios">
                  <input type="checkbox" id="studios" name="studios" value="1" <%= "checked" if @gym.studios %>>
                  Studios
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for classes -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="classes">
                  <input type="checkbox" id="classes" name="classes" value="1" <%= "checked" if @gym.classes %>>
                  Classes
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for pool -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="pool">
                  <input type="checkbox" id="pool" name="pool" value="1" <%= "checked" if @gym.pool %>>
                  Pool
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for hot_tub -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="hot_tub">
                  <input type="checkbox" id="hot_tub" name="hot_tub" value="1" <%= "checked" if @gym.hot_tub %>>
                  Hot tub
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for basketball -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="basketball">
                  <input type="checkbox" id="basketball" name="basketball" value="1" <%= "checked" if @gym.basketball %>>
                  Basketball
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for raquetball -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="raquetball">
                  <input type="checkbox" id="raquetball" name="raquetball" value="1" <%= "checked" if @gym.raquetball %>>
                  Raquetball
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for trainer -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="trainer">
                  <input type="checkbox" id="trainer" name="trainer" value="1" <%= "checked" if @gym.trainer %>>
                  Trainer
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for sauna -->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="sauna">
                  <input type="checkbox" id="sauna" name="sauna" value="1" <%= "checked" if @gym.sauna %>>
                  Sauna
                </label>
              </div>
            </div>
          </div>

          <!-- Label and input for search_id -->
          <div class="form-group">
            <label for="search_id" class="col-sm-2 control-label">
              Search
            </label>
            <div class="col-sm-10">
              <input type="text" id="search_id" name="search_id" placeholder="Search" class="form-control" value="<%= @gym.search_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Gym" class="btn btn-warning">
              or
              <%= link_to "Cancel", gym_url(@gym.id) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
